<div class="row">
  <ng-container *ngFor="let resto of restos; let i = index">
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="{{resto.imageUrl}}" height="300">
        <mat-card-content>
          <p>
            {{ resto.name }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="btn btn-dark btn-block" [routerLink]="['/meals', resto.id]">Go to resto</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
    <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
  </ng-container>
</div>

