<div class="row">
  <div class="col-sm-3">
    <div class="sticky-top">
      <mat-list>
        <mat-list-item *ngFor="let category of filteredCategories">
          <img matListAvatar src="{{category.imageUrl}}">
          <a matLine [routerLink]="['/meals', resto.id, category.id]">
            {{ category.name }}
          </a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <ng-container *ngFor="let meal of meals; let i = index">
        <div class="col">
          <app-meal-card [meal]="meal"></app-meal-card>
        </div>
        <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
        <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</div>

