<div class="row" *ngIf="category">
  <div class="col-md-6">
    <form #cform="ngForm" [formGroup]="categoryForm" (ngSubmit)="update()">
      <div class="form-group">
        <label for="name">Name</label>
        <input formControlName="name" [(ngModel)]="category.name" id="name" class="form-control" type="text" required>
        <br>
        <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">Name is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input formControlName="imageUrl" [(ngModel)]="category.imageUrl" id="imageUrl" class="form-control" type="text" url required>
        <br>
        <div class="alert alert-danger" *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)">
          <div *ngIf="imageUrl.errors.required">Image URL is required.</div>
          <div *ngIf="imageUrl.errors.url">Please type a valid URL.</div>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="cform.invalid">Update</button>
      <button class="btn btn-danger" (click)="delete()">Delete</button>
    </form>
  </div>
  <div class="col-md-6" *ngIf="categoryForm.value.name">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{categoryForm.value.imageUrl}}" *ngIf="category.imageUrl">
      <div class="card-body">
        <h5 class="card-title">{{ categoryForm.value.name }}</h5>
      </div>
    </div>
  </div>
</div>


